<nav class="navbar navbar-dark bg-info navbar-expand-lg">
  <a class="navbar-brand" href="#">AngularForms</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Início <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/formulario">Formulário</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Cadastro</a>
      </li>
    </ul>
    <span class="navbar-text">
      Projeto de estudos de Angular e suas diretivas
    </span>
</nav>